/******************************************************/
/*           Hoja de estilo de BikeHub.html          */
/*           Autor: Francisco Romero Zarco            */
/*                   9/11/2023                       */
/*                Lengaje de marcas                   */
/******************************************************/

/**************************************Fonts******************************/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* font-family: 'Bebas Neue', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); /* font-family: 'Montserrat', sans-serif;*/

/**************************************GENERAL ******************************/
html {
    scroll-behavior: smooth;
}







/**************************************HERO SECTION******************************/

        #hero {background-image: url(../imagenes/Hero\ Section.jpeg);
            height: 95vh ;                         
            background-size: cover  ;
            background-position: center;            
            position: relative;}
/**************************************Barra de navegacion******************************/
body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

nav {
    background-color:black;
    color: #ffa500;
    padding: 15px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

nav a {
    color: #ffa500;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

/**************************************Wrapper******************************/


/**************************************Body******************************/
#body{
    background-color: black;
}
/**************************************Footer******************************/
.footer{
    width: 100%;
    color: white;
}
.footer .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.footer .grupo1 .box .logofooter{
    width: 250px;
}
.footer .grupo1 .box h2{
    margin-bottom: 25px;
    font-size: 20px;
}
.footer .grupo1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.footer .grupo2{
    background-color: #0a1a2a;
    padding: 15px 10px ;
    text-align: center;
    color: white;
}
/**************************************H******************************/
#hTipo{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}
#hMarca{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}
#hCircuitos{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}
#hCC{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}
#hGaleria{
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}
/**************************************Responsive******************************/
@media screen and (max-width:800px) {
    .footer .grupo1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}